<app-form></app-form>

<!-- <form class="w-100 text-xs border-8 border-white rounded-lg p-6">
  <header><h1 class="text-lg font-medium mb-5">Mortgage calculator</h1></header>
  <div class="grid grid-cols-3">
    <fieldset>
      <legend>Purchase price: </legend>
      <input class="w-40" type="range" name="" id="">
    </fieldset>
    <fieldset>
      <legend>Down payment: </legend>
      <input class="w-40" type="range" name="" id="">
    </fieldset>
    <fieldset>
      <legend>Repayment time: </legend>
      <input class="w-40" type="range" name="" id="">
    </fieldset>
    <fieldset>
      <legend>Interest rate: </legend>
      <input class="w-40" type="range" name="" id="">
    </fieldset>
    <fieldset>
      <legend>Loan amount:</legend>
      <div>
        $
      </div>
    </fieldset>
    <fieldset>
      <legend>Estimated pr. month:</legend>
      <div>
        $
      </div>
    </fieldset>
  </div>
  <button class="px-7 py-4 bg-violet-500 text-xs text-white rounded-sm mt-14">Get a mortgage quote</button>
</form> -->