@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(186, 18%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

fieldset {
    display: inline-block;
    margin: 10px 6px;
}

.w-100 {
    width: fit-content;
}